/*
Theme Name: iFeature
Theme URI: http://cyberchimps.com/ifeature-free/
Author: CyberChimps
Author URI: http://www.cyberchimps.com/
Description: iFeature 5.5 is a fully-responsive, translation-ready, universal professional theme. Catering to e-commerce sites, blogging, personal profiles and more. iFeature's touch-friendly drag-and-drop elements allow you to set up a professional website in minutes. When it comes to responsive elements and drag-and-drop options, CyberChimps not only pioneered, but continues to innovate these elements for the greater WordPress community. iFeature 5.5 lets you create responsive websites that you can control on any touch-friendly device, including: iPad, iPhone and Android devices. With options on a per-page basis, this theme allows you to control the look and feel of every page. Please use the <a href="http://cyberchimps.com/forum/">official support forum</a> (http://cyberchimps.com/forum/). CyberChimps - Themes You Can Trust
Version: 5.5.1
Tags: white, silver, light, gray, two-columns, right-sidebar, responsive-layout, fixed-layout, custom-background, custom-colors, custom-menu, featured-images, post-formats, theme-options, sticky-post, full-width-template
License: GNU General Public License version 3
License URI: http://www.opensource.org/licenses/gpl-license.php GPL v3.0 (or later)
*/

/********************************************************************************************************************/
/******************************************** MAIN HTML STYLES ******************************************************/
/********************************************************************************************************************/

body {
	color: #777;
	word-wrap: break-word;
	background: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 15px;
	font-weight: 400;
}

table .label {
	background: none;
	padding: 7px;
	line-height: normal;
	text-shadow: none;
}

tr {
	border-bottom: 1px solid #cccccc;
}

td {
	padding: 5px;
}

dt {
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 26px;
}

dd {
	margin-bottom: 15px;
	margin-left: 26px;
}

ul, ol {
	margin: 0 0 10px 0;
}

ol, ul {
	list-style-position: inside;
	margin-left: 21px;
}

pre {
	border-radius: 0;
}

code {
	white-space: pre-wrap;
}

.clear {
	clear: both;
}

.clear-right {
	clear: right;
}

.clear-left {
	clear: left;
}

/********************************************************************************************************************/
/******************************************** HEADER ****************************************************************/
/********************************************************************************************************************/

header#cc-header {
	margin-bottom: 20px;
}

/*======================================= TOP BAR =============================================*/

#top_header {
	background: #333;
	margin-bottom: 15px;
}

#top_header  .top-head-description {
	color: #bababa;
	margin: 8px 0 6px 0;
	font-size: 14px;
}

#top_header .top-head-social .symbol {
	float: right;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 6px;
	margin-left: 5px;
	width: 20px;
	height: 20px;
	font-size: 1em;
	padding: 0;
	line-height: 1.5;
	text-align: center;
}

header #social .symbol {
	float: right;
	margin-left: 5px;
}

.icons {
	margin-top: 15px;
}

/*======================================= DETAILS =============================================*/

header#cc-header h2.site-title {
	margin-bottom: 15px;
	font-size: 32px;
	font-weight: 600;
}

header#cc-header h2.site-description {
	font-size: 14px;
	margin: 0;
}

header#cc-header .contact_details {
	color: #888888;
	float: right;
	margin-top: 15px;
}

header#cc-header .contact_details .cc-telephone-number {
	text-align: right;
}

header#cc-header .contact_details .cc-telephone-number img {
	margin-top: -3px;
	margin-left: 10px;
}

header#cc-header .contact_details .cc-email {
	text-align: right;
}

header#cc-header .contact_details .cc-email img {
	margin-top: -2px;
	margin-left: 10px;
}

header#cc-header .register {
	float: right;
}

header#cc-header .blog_description {
	float: right;
}

header#cc-header p {
	font-size: 1.2em;
}

/*======================================= SEARCH ===============================================*/

header #search #searchform {
	float: right;
	margin-top: 20px;
}

/********************************************************************************************************************/
/******************************************** MENU ******************************************************************/
/********************************************************************************************************************/

#navigation {
	margin-bottom: 30px;
}

.main-navigation.navbar {
	margin-bottom: 0;
}

.main-navigation .navbar-inner {
	padding: 0;
	min-height: 20px;
	background: #b6b6b6;
	box-shadow: none;
	border-radius: 0;
	border: none;
}

.main-navigation .nav > li {
	border-right: 1px solid #ccc;
	box-shadow: none;
}

.main-navigation .nav > li > a {
	display: block;
	color: #ffffff;
	font-size: 1.1em;
	text-shadow: none;
}

.main-navigation .nav > li.dropdown > a.dropdown-toggle .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
	margin-top: 10px;
}

.main-navigation .nav > li > a:hover {
	color: #f6f6f6;
	background: #666666;
}

.main-navigation .nav .active > a, .main-navigation .nav .current_page_item > a, .current-menu-ancestor.dropdown {
	color: #ffffff;
	background: #717171;
}

.main-navigation .nav li ul li a:hover, .main-navigation .nav .current_page_item > a:hover {
	color: #c5c5c5;
	background: #717171;
}

.main-navigation .nav li ul li a {
	color: #f6f6f6;
}

.main-navigation .nav li ul li ul {
	list-style: none;
	margin-left: 0;
}

.main-navigation .nav li ul li ul li a {
	padding-left: 24px;
}

.main-navigation .nav li ul li ul li ul li a {
	padding-left: 30px;
}

.main-navigation .nav li.dropdown:hover ul.dropdown-menu {
	display: block;
	background: #666666;
	border-radius: 0;
	margin-top: 0;
}

.navbar .nav > li > .dropdown-menu::before {
	position: absolute;
	top: -7px;
	left: 9px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #666666;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.navbar .nav > li > .dropdown-menu::after {
	position: absolute;
	top: -6px;
	left: 10px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #666666;
	border-left: 6px solid transparent;
	content: '';
}

#navigation #searchform {
	margin-right: 15px;
}

.navbar .btn-navbar {
	margin-bottom: 5px;
}

/* 3rd tier */
.main-navigation .nav > li > ul > li {
	position: relative;
}

.main-navigation .nav > li > ul > li > ul {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	background: #666666;
	border-radius: 0;
	margin-top: 0;
	padding: 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
	z-index: 1001;
}

.main-navigation .nav > li > ul > li:hover > ul {
	display: block;
}

.main-navigation .nav > li > ul > li > ul::before {
	position: absolute;
	top: 7px;
	left: -7px;
	display: inline-block;
	border-top: 7px solid transparent;
	border-right: 7px solid #666666;
	border-bottom: 7px solid transparent;
	border-right-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.main-navigation .nav > li > ul > li > ul::after {
	position: absolute;
	top: 8px;
	left: -6px;
	display: inline-block;
	border-top: 6px solid transparent;
	border-right: 6px solid #666666;
	border-bottom: 6px solid transparent;
	content: '';
}

@media (max-width: 979px) {
	.main-navigation .nav > li > ul > li > ul::after, .main-navigation .nav > li > ul > li > ul::before {
		border: none;
	}

	.main-navigation .nav > li > ul > li > ul {
		display: block;
		position: static;
		border: none;
	}

	.nav-collapse .dropdown-menu li + li a {
		margin-bottom: 0px;
	}

	.nav-collapse.in {
		background-image: none;
		background-color: #747474;
	}

	.nav-collapse.in .nav li {
		background-color: #747474;
	}

	.nav-collapse.in .nav ul {
		background: #747474;
	}

	.navbar .nav > li > .dropdown-menu::before, .navbar .nav > li > .dropdown-menu::after {
		display: none;
	}

	.navbar-inverse .nav-collapse.in .nav > li > a:hover, .navbar-inverse .nav-collapse.in .dropdown-menu a:hover {
		color: #ffffff;
		background-color: #666666;
	}

	.navbar-inverse .nav-collapse.in .nav li a, .nav-collapse.in .dropdown-menu a {
		color: #ffffff;
		font-weight: normal;
		text-shadow: none;
	}

	.navbar-inverse .nav-collapse.in .nav > li.current-menu-item > a, .navbar-inverse .nav-collapse.in .nav > li.current-menu-ancestor > a {
		color: #ffffff;
		box-shadow: none;
		background: #666666;
	}

	.nav-collapse.in .dropdown .caret {
		display: none;
	}

	.nav-collapse.in .dropdown-menu {
		display: block;
	}

	.navbar-inverse .nav-collapse.in .dropdown-menu .active > a, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle {
		color: #ffffff;
		background-image: none;
		background-color: #666666;
	}
}

/********************************************************************************************************************/
/******************************************** MAIN CONTENT **********************************************************/
/********************************************************************************************************************/

.container {
	background: transparent;
}

article.post, article.page, article.attachment {
	margin-bottom: 30px;
	padding: 0;
	background: #fdfdfd;
	border: 1px solid #eaeaea;
	border-radius: 0;
	overflow: hidden;
	-webkit-box-shadow: 0px 1px 0px 0px #adadad;
	box-shadow: 0px 1px 0px 0px #adadad;
}

.entry-content {
	margin: 0;
}

.page-header {
	margin-top: 0;
	padding: 0;
	border: none;
}

/*==================================== POST AND PAGE CONTENT ===========================================*/

article {
	background: #ffffff;
}

.entry-header {
	margin: 0;
	padding: 0 20px;
}

.entry-summary {
	margin: 0;
	padding: 20px;
}

.entry-content {
	padding: 20px;
}

.postformats {
	float: right;
	padding: 5px 10px 5px 0;
	margin-left: 20px;
	background: #6fb7d6;
	background: -moz-linear-gradient(top, #6fb7d6 0%, #4fadd8 1%, #4fadd8 50%, #399cca 51%, #3599c7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6fb7d6), color-stop(1%, #4fadd8), color-stop(50%, #4fadd8), color-stop(51%, #399cca), color-stop(100%, #3599c7));
	background: -webkit-linear-gradient(top, #6fb7d6 0%, #4fadd8 1%, #4fadd8 50%, #399cca 51%, #3599c7 100%);
	background: -o-linear-gradient(top, #6fb7d6 0%, #4fadd8 1%, #4fadd8 50%, #399cca 51%, #3599c7 100%);
	background: -ms-linear-gradient(top, #6fb7d6 0%, #4fadd8 1%, #4fadd8 50%, #399cca 51%, #3599c7 100%);
	background: linear-gradient(to bottom, #6fb7d6 0%, #4fadd8 1%, #4fadd8 50%, #399cca 51%, #3599c7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4fadd8', endColorstr='#3599c7', GradientType=0);
	border: 1px solid #2b7a9f;
	border-radius: 0;
}

.postformats .glyphicon {
	color: #fff;
	font-size: 1.7em;
}

blockquote {
	background-color: #f6f6f6;
	margin: 10px;
	padding: 3px;
}

blockquote p {
	margin: 10px;
}

blockquote cite {
	font-size: 0.9em;
}

blockquote cite:before {
	content: ' ̶ ';
	position: relative;
	top: -2px;
	margin: 0 5px;
}

.page-links {
	clear: both;
}

.more-content {
	margin-bottom: 15px;
	padding: 10px 20px 5px 20px;
	background: #fdfdfd;
	border: 1px solid #eaeaea;
	border-radius: 0;
	overflow: hidden;
	-webkit-box-shadow: 0px 1px 0px 0px #adadad;
	box-shadow: 0px 1px 0px 0px #adadad;
}

.previous-post {
	text-align: left;
	margin-top: 5px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.next-post {
	text-align: right;
	margin-top: 5px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
	background: none repeat scroll 0 0 #0088cc;
	border: 1px solid #0088cc;
	color: #fff;
	opacity: 0.9;
	padding: 8px 14px;
	width: auto;
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
	opacity: 1;
}

/*==================================== TAXONOMY ========================================================*/

.entry-title {
	font-weight: 400;
	line-height: 1.2em;
	margin-bottom: 2px;
	font-size: 31.5px;
}

.entry-title a {
	color: #333333;
}

.entry-title a:hover {
	color: #0088cc;
	text-decoration: none;
}

article.post p, article.page p {
	font-size: 1.1em;
	line-height: 1.5em;
}

/*==================================== IMAGES ==========================================================*/

.alignnone {
	display: block;
	margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

img.size-full {
	max-width: 100%;
	height: auto;
}

.wp-caption {
	background: #ffffff;
	border: 1px solid #f0f0f0;
	max-width: 96%; /* Image does not overflow the content area */
	padding: 15px 3px 10px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 95%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

.caption_title {
	font-size: 16px;
}

.gallery-pagination {
	margin: 20px 0;
}

.gallery-pagination .previous-image a {
	float: left;
}

.gallery-pagination .next-image a {
	float: right;
}

/*==================================== META ============================================================*/

.entry-meta {
	color: #afaeae;
	font-size: 0.9em;
	line-height: 1em;
}

footer.entry-meta {
	clear: both;
	padding: 0px 20px 15px 20px;

}

.byline:before {
	content: '\2022';
	margin-left: 5px;
}

.cat-links {
	clear: left;
	margin-top: 10px;
	line-height: 1.2em;
}

.taglinks {
	display: inline-block;
	margin-left: 0;
}

.taglinks a {
	float: left;
	position: relative;
	font-size: 1em;
	line-height: 15px;
	padding: 4px 10px;
	margin: 0 30px 10px 0;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #c6c6c6;
	border-left: 1px solid #e7e7e7;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #e7e7e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e7e7e7));
	background: -webkit-linear-gradient(top, #ffffff 0%, #e7e7e7 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #e7e7e7 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #e7e7e7 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #e7e7e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e7e7e7', GradientType=0);
}

.taglinks a:after {
	position: absolute;
	top: -1px;
	left: 100%;
	content: '';
	height: 25px;
	width: 20px;
	background: url('images/tag.png') no-repeat 0 0 transparent;
}

.comments-link:before {
	content: '\2022';
	margin-right: 5px;
}

.edit-link {
	clear: both;
	display: block;
	margin: 10px 0;
}

.edit-link a {
	color: #ffffff;
	background: #888888;
	padding: 2px 4px;
	border-radius: 0;
}

.edit-link a:visited {
	color: #ffffff;
}

.edit-link a:hover {
	text-decoration: none;
	color: #cccccc;
}

.cyberchimps_article_share {
	float: right;
}

/*==================================== COMMENTS ========================================================*/

.comments-area {
	margin-bottom: 30px;
	padding: 20px;
	background: #fdfdfd;
	border: 1px solid #eaeaea;
	border-radius: 0;
	overflow: hidden;
	-webkit-box-shadow: 0px 1px 0px 0px #adadad;
	box-shadow: 0px 1px 0px 0px #adadad;
}

#comments .navigation {
	padding: 0 0 18px 0;
}

label[for="comment"] {
	display: block;
}

ol.commentlist {
	list-style: none;
}

ol.commentlist p {
	margin-left: 8px;
	clear: left;
}

ol.commentlist li.comment {
	padding: 10px;
}

ol.commentlist li.comment div.vcard cite.fn {
	font-style: normal;
}

ol.commentlist li.comment div.vcard img.avatar {
	margin: 0 10px 10px 10px;
}

ol.commentlist li.comment div.comment-meta {
	font-size: 11px;
}

ol.commentlist li.comment div.comment-meta a {
	color: #888888;
}

ol.commentlist li.comment div.reply {
	font-size: 11px;
	margin-left: 8px;
}

ol.commentlist li.comment div.reply a {
	font-weight: bold;
}

ol.commentlist li.comment ul.children {
	list-style: none;
	margin: 10px 0 0;
}

ol.commentlist li.comment ul.children li.depth-2 {
	margin: 0 0 10px 10px;
}

ol.commentlist li.comment ul.children li.depth-3 {
	margin: 0 0 10px 10px;
}

ol.commentlist li.comment ul.children li.depth-4 {
	margin: 0 0 10px 10px;
}

ol.commentlist li.even {
	background: #fafafa;
	border: 1px solid #cccccc;
	border-radius: 0;
}

ol.commentlist li.odd {
	background: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 0;
}

.comment, .trackback, .pingback {
	padding: 10px;
	margin: 10px 0 10px 0;
}

.odd {
	background: #f8f8f8;
}

#form-allowed-tags code {
	font-size: 12px;
}

#respond input, #respond textarea {
	margin: 0 5px 5px 0;
	overflow: auto;
}

#respond textarea {
	width: 99%;
	height: 150px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	border-radius: 0;
}

.avatar {
	float: left;
}

/********************************************************************************************************************/
/******************************************** SIDEBAR & WIDGETS *****************************************************/
/********************************************************************************************************************/

#sidebar .widget-container {
	background: #fdfdfd;
	border: none;
	border-radius: 0;
	overflow: hidden;
	box-shadow: none;
	padding: 0 0 15px 0;
	margin-bottom: 30px;
}

#sidebar h3.widget-title {
	color: #ffffff;
	font-weight: 100;
	font-size: 1.3em;
	text-shadow: none;
	margin-top: 0;
	padding: 5px 10px 5px 23px;
	background: #b6b6b6;
	box-shadow: none;
	border-radius: 0;
	border: none;
}

#sidebar .widget-container ul, #sidebar .widget ul {
	margin: 0;
	padding: 0 20px;
}

#sidebar .widget-container ul li, #sidebar .widget ul li {
	font-size: 14px;
	line-height: 1.2em;
	list-style: none;
	padding: 10px 0 15px 0;
	border-bottom: 1px solid #ededed;
}

#sidebar .widget-container > ul > li ul {
	margin: 5px 0 5px 5px;
}

#sidebar .widget-container ul li:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

#sidebar .widget-container > ul > li li {
	list-style: none;
	margin: 0 0 3px 0;
	padding: 0;
}

#sidebar .widget-container ul li a {
	border-bottom: 1px dotted #c5e5f4;
}

#sidebar .widget-container p {
	padding: 0 20px;
}

#sidebar .widget-container .tagcloud {
	padding: 0 20px;
}

table#wp-calendar {
	width: 100%;
}

table#wp-calendar th {
	font-size: 14px;
}

table#wp-calendar td {
	font-size: 14px;
	width: 14.28571428571429%;
	padding: 5px 0;
	text-align: center;
}

#sidebar .widget_search, .widget_search {
	padding: 15px;
}

.widget-container #searchform.pull-right {
	float: none;
	margin-right: 30px;
}

.widget-container #searchform input.input-medium {
	float: none;
	display: inline-block;
	width: 100%;
}

/*==================================== SEARCH FORM ====================================================*/

#searchform {
	margin-bottom: 5px;
}

/********************************************************************************************************************/
/******************************************** FOOTER ****************************************************************/
/********************************************************************************************************************/

#footer_widgets_wrapper {
	margin-top: 20px;
	padding-top: 20px;
	background-color: #303030;
}

#footer-widgets {
	margin-bottom: 30px;
}

#footer-widgets .widget-container {
	border: none;
}

#footer-widget-container {
	background: transparent;
}

#footer-widgets .widget-container {
	color: #ffffff;
	background: transparent;
}

#footer-widgets .widget-container h3 {
	color: #ffffff;
	font-size: 1.3em;
}

#footer-widgets .widget-container ul {
	margin: 0;
}

#footer-widgets .widget-container a {
	color: #ffffff;
	border-bottom: 1px dotted #cccccc;
}

#footer-widgets .widget-container p {
	color: #cccccc;
}

#after_footer {
	background-color: #171717;
}

.site-footer {
	margin-top: 20px;
	margin-bottom: 20px;
}

.site-footer #copyright {
	text-align: right;
}

/********************************************************************************************************************/
/******************************************** WORDPRESS DEFAULTS ****************************************************/
/********************************************************************************************************************/

.sticky {
}

.gallery-caption {
}

.bypostauthor {
}

/********************************************************************************************************************/
/******************************************** ELEMENTS **************************************************************/
/********************************************************************************************************************/

/*==================================== BOXES ======================================================*/

.box {
	margin-bottom: 30px;
	padding: 20px;
	background: #fdfdfd;
	border: 1px solid #eaeaea;
	border-radius: 0;
	overflow: hidden;
	-webkit-box-shadow: 0px 1px 0px 0px #adadad;
	box-shadow: 0px 1px 0px 0px #adadad;
}

h2.box-widget-title {
	margin-top: 0;
	font-size: 1.6em;
	line-height: 1em;
	text-align: center;
}

.box p {
	font-size: 1.1em;
	line-height: 1.3em;
	margin-top: 15px;
}

#boxes-container .box a {
	display: block;
	width: 100%;
	text-align: center;
}

#boxes-container .box-no-url {
	cursor: default;
}

/*==================================== PORTFOLIO ===================================================*/

#portfolio {
	margin-bottom: 30px;
}

#gallery {
	background: #ffffff;
	padding: 20px;
	background: #fdfdfd;
	border: 1px solid #eaeaea;
	border-radius: 0;
	overflow: hidden;
	-webkit-box-shadow: 0px 1px 0px 0px #adadad;
	box-shadow: 0px 1px 0px 0px #adadad;
}

#gallery ul.row-fluid {
	margin: 0;
	padding: 0;
}

#gallery h2 {
	font-size: 1.6em;
	font-weight: 400;
	margin-top: 0;
	line-height: 1em;
}

#gallery ul.row-fluid li#portfolio_wrap {
	text-align: center;
}

#gallery ul.row-fluid li#portfolio_wrap .portfolio_item {
	padding: 20px;
}

/*==================================== TWITTER =====================================================*/

#twitter-container {
	margin-bottom: 30px;
}

#twitter-bar {
	padding: 20px;
	background: #fdfdfd;
	border: 1px solid #eaeaea;
	border-radius: 0;
	overflow: hidden;
	-webkit-box-shadow: 0px 1px 0px 0px #adadad;
	box-shadow: 0px 1px 0px 0px #adadad;
}

#twitter-bar #twitter-text img {
	float: left;
	margin-top: -5px;
}

#twitter-bar #twitter-text p {
	padding-left: 75px;
	margin-bottom: 0;
}

@media (max-width: 480px) {
	#twitter-bar #twitter-text img {
		width: 30px;
		height: 21px;
		margin-top: 0;
	}

	#twitter-bar #twitter-text p {
		padding-left: 40px;
	}
}

/*==================================== SLIDER ====================================================*/

#slider {
	margin-bottom: 30px;
}

#slider .carousel-control {
	top: 100%;
	margin-top: -45px;
	background: rgba(0, 0, 0, 0.25);
	border: none;
	opacity: 1;
}

#slider .carousel-caption {
	padding: 5px 60px;
	min-height: 40px;
}

/********************************************************************************************************************/
/****************************************** MEDIA QUERIES ***********************************************************/
/********************************************************************************************************************/

/*==================================== TABLETS ===================================================*/

@media (max-width: 767px) {
	.container-full {
		width: 100%;
		margin-left: -20px;
		padding-right: 20px;
		padding-left: 20px;
	}

	body {
		padding-left: 0px;
		padding-right: 0px;
	}

	.container-full-width .container {
		margin: 0px 20px;
	}
}

/*==================================== PHONES ====================================================*/

@media (max-width: 480px) {

	header#cc-header .span7 {
		text-align: center;
	}

	header#cc-header .span5 {
		text-align: center;
	}

	header#cc-header .span5 div.icons a {
		float: none;
	}

	header#cc-header .span5 div.blog-description {
		float: none;
	}

	header#cc-header .span5 div.register {
		float: none;
	}

	header#cc-header .span5 #searchform {
		float: none;
	}

	.container-full .top-head-social .icons {
		margin-bottom: 10px;
	}

	.container-full-width .container {
		margin: 0px 10px;
	}

	.main-navigation .nav > li {
		border-right: none;
	}

}

/********************************************************************************************************************/
/****************************************** ADD ONS *****************************************************************/
/********************************************************************************************************************/

/*==================================== The Events Calendar ====================================================*/

.tribe-events-meta-group dt {
	margin-left: 0;
}

.tribe-event-notices {
	background: #b6b6b6;
	border: 1px solid;
	border-color: #888888 #666666 #666666 #666666;
	color: #ffffff;
	text-shadow: 0 1px 0 #000000;
}